{{id}} {% if v31score is not none %}CVSS:3.1 {{v31score}} ({{v31severity}}) {% elif v30score is not none %}CVSS:3.0 {{v30score}} ({{v30severity}}) {% elif v2score is not none %}CVSS:2.0 {{v2score}} ({{v2severity}}) {% endif %}
